# Aquire and Prepare

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## aquire

This is a dataset from Kaggle here is the link https://www.kaggle.com/datasets/mariotormo/complete-pokemon-dataset-updated-090420

In [2]:
poke_df = pd.read_csv('pokedex_(Update_04.21).csv', index_col='Unnamed: 0')

In [3]:
poke_df.head()

,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [4]:
# would i even need german name and jap name ??

- the whole point of this project will be to use ML Models to determine what status new pokemon would fall into

# Preparing the DATA

In [5]:
poke_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1044
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   german_name       1045 non-null   object
 3   japanese_name     1045 non-null   object
 4   generation        1045 non-null   int64
 5   status            1045 non-null   object
 6   species           1045 non-null   object
 7   type_number       1045 non-null   int64
 8   type_1            1045 non-null   object
 9   type_2            553 non-null    object
 10  height_m          1045 non-null   float64
 11  weight_kg         1044 non-null   float64
 12  abilities_number  1045 non-null   int64
 13  ability_1         1042 non-null   object
 14  ability_2         516 non-null    object
 15  ability_hidden    813 non-null    object
 16  total_points      1045 non-null   int64
 17  hp                1045 non-null   int64
 18  attack            1045 non-null   int64
 19  defense           1045 non-null   int64
 20  sp_attack         1045 non-null   int64
 21  sp_defense        1045 non-null   int64
 22  speed             1045 non-null   int64
 23  catch_rate        1027 non-null   float64
 24  base_friendship   930 non-null    float64
 25  base_experience   925 non-null    float64
 26  growth_rate       1044 non-null   object
 27  egg_type_number   1045 non-null   int64
 28  egg_type_1        1042 non-null   object
 29  egg_type_2        285 non-null    object
 30  percentage_male   872 non-null    float64
 31  egg_cycles        1044 non-null   float64
 32  against_normal    1045 non-null   float64
 33  against_fire      1045 non-null   float64
 34  against_water     1045 non-null   float64
 35  against_electric  1045 non-null   float64
 36  against_grass     1045 non-null   float64
 37  against_ice       1045 non-null   float64
 38  against_fight     1045 non-null   float64
 39  against_poison    1045 non-null   float64
 40  against_ground    1045 non-null   float64
 41  against_flying    1045 non-null   float64
 42  against_psychic   1045 non-null   float64
 43  against_bug       1045 non-null   float64
 44  against_rock      1045 non-null   float64
 45  against_ghost     1045 non-null   float64
 46  against_dragon    1045 non-null   float64
 47  against_dark      1045 non-null   float64
 48  against_steel     1045 non-null   float64
 49  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(12), object(13)
memory usage: 416.4+ KB

In [6]:
poke_df.species.value_counts()

Mouse Pokémon          12
Dragon Pokémon          9
Fox Pokémon             9
Pumpkin Pokémon         8
Flame Pokémon           7
                       ..
Verdant Pokémon         1
Ogre Darner Pokémon     1
Jubilee Pokémon         1
Blast Pokémon           1
Hippo Pokémon           1
Name: species, Length: 652, dtype: int64

In [7]:
poke_df.status.value_counts()

Normal           918
Sub Legendary     55
Legendary         42
Mythical          30
Name: status, dtype: int64

In [8]:
poke_df.generation.value_counts()

1    192
5    171
3    165
4    121
2    107
8    105
7     99
6     85
Name: generation, dtype: int64

In [9]:
#Looks like there is alot of nulls in many collumns looking at what I keep and what I remove

In [10]:
poke_df.isnull().sum()

pokedex_number        0
name                  0
german_name           0
japanese_name         0
generation            0
status                0
species               0
type_number           0
type_1                0
type_2              492
height_m              0
weight_kg             1
abilities_number      0
ability_1             3
ability_2           529
ability_hidden      232
total_points          0
hp                    0
attack                0
defense               0
sp_attack             0
sp_defense            0
speed                 0
catch_rate           18
base_friendship     115
base_experience     120
growth_rate           1
egg_type_number       0
egg_type_1            3
egg_type_2          760
percentage_male     173
egg_cycles            1
against_normal        0
against_fire          0
against_water         0
against_electric      0
against_grass         0
against_ice           0
against_fight         0
against_poison        0
against_ground        0
against_flying        0
against_psychic       0
against_bug           0
against_rock          0
against_ghost         0
against_dragon        0
against_dark          0
against_steel         0
against_fairy         0
dtype: int64

In [ ]:
#im just going to drop all the nulls

In [12]:
poke_df = poke_df.drop(columns = ['type_2', 'egg_type_2'])

In [13]:
poke_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1044
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   german_name       1045 non-null   object
 3   japanese_name     1045 non-null   object
 4   generation        1045 non-null   int64
 5   status            1045 non-null   object
 6   species           1045 non-null   object
 7   type_number       1045 non-null   int64
 8   type_1            1045 non-null   object
 9   height_m          1045 non-null   float64
 10  weight_kg         1044 non-null   float64
 11  abilities_number  1045 non-null   int64
 12  ability_1         1042 non-null   object
 13  ability_2         516 non-null    object
 14  ability_hidden    813 non-null    object
 15  total_points      1045 non-null   int64
 16  hp                1045 non-null   int64
 17  attack            1045 non-null   int64
 18  defense           1045 non-null   int64
 19  sp_attack         1045 non-null   int64
 20  sp_defense        1045 non-null   int64
 21  speed             1045 non-null   int64
 22  catch_rate        1027 non-null   float64
 23  base_friendship   930 non-null    float64
 24  base_experience   925 non-null    float64
 25  growth_rate       1044 non-null   object
 26  egg_type_number   1045 non-null   int64
 27  egg_type_1        1042 non-null   object
 28  percentage_male   872 non-null    float64
 29  egg_cycles        1044 non-null   float64
 30  against_normal    1045 non-null   float64
 31  against_fire      1045 non-null   float64
 32  against_water     1045 non-null   float64
 33  against_electric  1045 non-null   float64
 34  against_grass     1045 non-null   float64
 35  against_ice       1045 non-null   float64
 36  against_fight     1045 non-null   float64
 37  against_poison    1045 non-null   float64
 38  against_ground    1045 non-null   float64
 39  against_flying    1045 non-null   float64
 40  against_psychic   1045 non-null   float64
 41  against_bug       1045 non-null   float64
 42  against_rock      1045 non-null   float64
 43  against_ghost     1045 non-null   float64
 44  against_dragon    1045 non-null   float64
 45  against_dark      1045 non-null   float64
 46  against_steel     1045 non-null   float64
 47  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(12), object(11)
memory usage: 400.0+ KB