# Aquire and Prepare

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import json

## aquire

This is a dataset from Kaggle here is the link https://www.kaggle.com/datasets/mariotormo/complete-pokemon-dataset-updated-090420

In [2]:
poke_df = pd.read_csv('pokedex_(Update_04.21).csv', index_col='Unnamed: 0')

In [3]:
poke_df.head()

,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [4]:
# would i even need german name and jap name ??

- the whole point of this project will be to use ML Models to predict what status new pokemon would fall into

# Preparing the DATA

In [5]:
poke_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1044
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   german_name       1045 non-null   object
 3   japanese_name     1045 non-null   object
 4   generation        1045 non-null   int64
 5   status            1045 non-null   object
 6   species           1045 non-null   object
 7   type_number       1045 non-null   int64
 8   type_1            1045 non-null   object
 9   type_2            553 non-null    object
 10  height_m          1045 non-null   float64
 11  weight_kg         1044 non-null   float64
 12  abilities_number  1045 non-null   int64
 13  ability_1         1042 non-null   object
 14  ability_2         516 non-null    object
 15  ability_hidden    813 non-null    object
 16  total_points      1045 non-null   int64
 17  hp                1045 non-null   int64
 18  attack            1045 non-null   int64
 19  defense           1045 non-null   int64
 20  sp_attack         1045 non-null   int64
 21  sp_defense        1045 non-null   int64
 22  speed             1045 non-null   int64
 23  catch_rate        1027 non-null   float64
 24  base_friendship   930 non-null    float64
 25  base_experience   925 non-null    float64
 26  growth_rate       1044 non-null   object
 27  egg_type_number   1045 non-null   int64
 28  egg_type_1        1042 non-null   object
 29  egg_type_2        285 non-null    object
 30  percentage_male   872 non-null    float64
 31  egg_cycles        1044 non-null   float64
 32  against_normal    1045 non-null   float64
 33  against_fire      1045 non-null   float64
 34  against_water     1045 non-null   float64
 35  against_electric  1045 non-null   float64
 36  against_grass     1045 non-null   float64
 37  against_ice       1045 non-null   float64
 38  against_fight     1045 non-null   float64
 39  against_poison    1045 non-null   float64
 40  against_ground    1045 non-null   float64
 41  against_flying    1045 non-null   float64
 42  against_psychic   1045 non-null   float64
 43  against_bug       1045 non-null   float64
 44  against_rock      1045 non-null   float64
 45  against_ghost     1045 non-null   float64
 46  against_dragon    1045 non-null   float64
 47  against_dark      1045 non-null   float64
 48  against_steel     1045 non-null   float64
 49  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(12), object(13)
memory usage: 416.4+ KB

In [6]:
poke_df.species.value_counts()

Mouse Pokémon          12
Dragon Pokémon          9
Fox Pokémon             9
Pumpkin Pokémon         8
Flame Pokémon           7
                       ..
Verdant Pokémon         1
Ogre Darner Pokémon     1
Jubilee Pokémon         1
Blast Pokémon           1
Hippo Pokémon           1
Name: species, Length: 652, dtype: int64

In [7]:
poke_df.status.value_counts()

Normal           918
Sub Legendary     55
Legendary         42
Mythical          30
Name: status, dtype: int64

In [8]:
poke_df.isna().mean()

pokedex_number      0.000000
name                0.000000
german_name         0.000000
japanese_name       0.000000
generation          0.000000
status              0.000000
species             0.000000
type_number         0.000000
type_1              0.000000
type_2              0.470813
height_m            0.000000
weight_kg           0.000957
abilities_number    0.000000
ability_1           0.002871
ability_2           0.506220
ability_hidden      0.222010
total_points        0.000000
hp                  0.000000
attack              0.000000
defense             0.000000
sp_attack           0.000000
sp_defense          0.000000
speed               0.000000
catch_rate          0.017225
base_friendship     0.110048
base_experience     0.114833
growth_rate         0.000957
egg_type_number     0.000000
egg_type_1          0.002871
egg_type_2          0.727273
percentage_male     0.165550
egg_cycles          0.000957
against_normal      0.000000
against_fire        0.000000
against_water       0.000000
against_electric    0.000000
against_grass       0.000000
against_ice         0.000000
against_fight       0.000000
against_poison      0.000000
against_ground      0.000000
against_flying      0.000000
against_psychic     0.000000
against_bug         0.000000
against_rock        0.000000
against_ghost       0.000000
against_dragon      0.000000
against_dark        0.000000
against_steel       0.000000
against_fairy       0.000000
dtype: float64

In [10]:
#okay but
poke_df.type_2.value_counts()

Flying      112
Fairy        41
Psychic      40
Ground       39
Poison       38
Steel        35
Fighting     32
Dragon       32
Grass        28
Dark         27
Ghost        26
Ice          20
Water        20
Fire         17
Rock         15
Normal       11
Electric     11
Bug           9
Name: type_2, dtype: int64

In [ ]:
#i think this is too much for type_2 47%, and 50% for ability_2 and im. just going to drop it all

In [9]:
poke_df.generation.value_counts()

1    192
5    171
3    165
4    121
2    107
8    105
7     99
6     85
Name: generation, dtype: int64

In [11]:
#Looks like there is alot of nulls in many collumns looking at what I keep and what I remove

In [12]:
poke_df.isnull().sum()

pokedex_number        0
name                  0
german_name           0
japanese_name         0
generation            0
status                0
species               0
type_number           0
type_1                0
type_2              492
height_m              0
weight_kg             1
abilities_number      0
ability_1             3
ability_2           529
ability_hidden      232
total_points          0
hp                    0
attack                0
defense               0
sp_attack             0
sp_defense            0
speed                 0
catch_rate           18
base_friendship     115
base_experience     120
growth_rate           1
egg_type_number       0
egg_type_1            3
egg_type_2          760
percentage_male     173
egg_cycles            1
against_normal        0
against_fire          0
against_water         0
against_electric      0
against_grass         0
against_ice           0
against_fight         0
against_poison        0
against_ground        0
against_flying        0
against_psychic       0
against_bug           0
against_rock          0
against_ghost         0
against_dragon        0
against_dark          0
against_steel         0
against_fairy         0
dtype: int64

In [13]:
#im just going to drop all the nulls and. the diffrrent languages

In [14]:
poke_df = poke_df.drop(columns = ['type_2', 'egg_type_2', 'german_name', 'japanese_name'])

In [15]:
poke_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1044
Data columns (total 46 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   generation        1045 non-null   int64
 3   status            1045 non-null   object
 4   species           1045 non-null   object
 5   type_number       1045 non-null   int64
 6   type_1            1045 non-null   object
 7   height_m          1045 non-null   float64
 8   weight_kg         1044 non-null   float64
 9   abilities_number  1045 non-null   int64
 10  ability_1         1042 non-null   object
 11  ability_2         516 non-null    object
 12  ability_hidden    813 non-null    object
 13  total_points      1045 non-null   int64
 14  hp                1045 non-null   int64
 15  attack            1045 non-null   int64
 16  defense           1045 non-null   int64
 17  sp_attack         1045 non-null   int64
 18  sp_defense        1045 non-null   int64
 19  speed             1045 non-null   int64
 20  catch_rate        1027 non-null   float64
 21  base_friendship   930 non-null    float64
 22  base_experience   925 non-null    float64
 23  growth_rate       1044 non-null   object
 24  egg_type_number   1045 non-null   int64
 25  egg_type_1        1042 non-null   object
 26  percentage_male   872 non-null    float64
 27  egg_cycles        1044 non-null   float64
 28  against_normal    1045 non-null   float64
 29  against_fire      1045 non-null   float64
 30  against_water     1045 non-null   float64
 31  against_electric  1045 non-null   float64
 32  against_grass     1045 non-null   float64
 33  against_ice       1045 non-null   float64
 34  against_fight     1045 non-null   float64
 35  against_poison    1045 non-null   float64
 36  against_ground    1045 non-null   float64
 37  against_flying    1045 non-null   float64
 38  against_psychic   1045 non-null   float64
 39  against_bug       1045 non-null   float64
 40  against_rock      1045 non-null   float64
 41  against_ghost     1045 non-null   float64
 42  against_dragon    1045 non-null   float64
 43  against_dark      1045 non-null   float64
 44  against_steel     1045 non-null   float64
 45  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(12), object(9)
memory usage: 383.7+ KB

In [16]:
# im goint to see if these collumns are important going to the kaggle website

In [17]:
poke_df = poke_df.drop(columns = ['ability_2', 'ability_hidden', 'base_friendship', 'base_experience', 'percentage_male'])

In [18]:
poke_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1044
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   generation        1045 non-null   int64
 3   status            1045 non-null   object
 4   species           1045 non-null   object
 5   type_number       1045 non-null   int64
 6   type_1            1045 non-null   object
 7   height_m          1045 non-null   float64
 8   weight_kg         1044 non-null   float64
 9   abilities_number  1045 non-null   int64
 10  ability_1         1042 non-null   object
 11  total_points      1045 non-null   int64
 12  hp                1045 non-null   int64
 13  attack            1045 non-null   int64
 14  defense           1045 non-null   int64
 15  sp_attack         1045 non-null   int64
 16  sp_defense        1045 non-null   int64
 17  speed             1045 non-null   int64
 18  catch_rate        1027 non-null   float64
 19  growth_rate       1044 non-null   object
 20  egg_type_number   1045 non-null   int64
 21  egg_type_1        1042 non-null   object
 22  egg_cycles        1044 non-null   float64
 23  against_normal    1045 non-null   float64
 24  against_fire      1045 non-null   float64
 25  against_water     1045 non-null   float64
 26  against_electric  1045 non-null   float64
 27  against_grass     1045 non-null   float64
 28  against_ice       1045 non-null   float64
 29  against_fight     1045 non-null   float64
 30  against_poison    1045 non-null   float64
 31  against_ground    1045 non-null   float64
 32  against_flying    1045 non-null   float64
 33  against_psychic   1045 non-null   float64
 34  against_bug       1045 non-null   float64
 35  against_rock      1045 non-null   float64
 36  against_ghost     1045 non-null   float64
 37  against_dragon    1045 non-null   float64
 38  against_dark      1045 non-null   float64
 39  against_steel     1045 non-null   float64
 40  against_fairy     1045 non-null   float64
dtypes: float64(22), int64(12), object(7)
memory usage: 342.9+ KB

In [19]:
poke_df.isna().mean()

pokedex_number      0.000000
name                0.000000
generation          0.000000
status              0.000000
species             0.000000
type_number         0.000000
type_1              0.000000
height_m            0.000000
weight_kg           0.000957
abilities_number    0.000000
ability_1           0.002871
total_points        0.000000
hp                  0.000000
attack              0.000000
defense             0.000000
sp_attack           0.000000
sp_defense          0.000000
speed               0.000000
catch_rate          0.017225
growth_rate         0.000957
egg_type_number     0.000000
egg_type_1          0.002871
egg_cycles          0.000957
against_normal      0.000000
against_fire        0.000000
against_water       0.000000
against_electric    0.000000
against_grass       0.000000
against_ice         0.000000
against_fight       0.000000
against_poison      0.000000
against_ground      0.000000
against_flying      0.000000
against_psychic     0.000000
against_bug         0.000000
against_rock        0.000000
against_ghost       0.000000
against_dragon      0.000000
against_dark        0.000000
against_steel       0.000000
against_fairy       0.000000
dtype: float64

In [20]:
poke_df = poke_df.dropna()

In [21]:
poke_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025 entries, 0 to 1044
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1025 non-null   int64
 1   name              1025 non-null   object
 2   generation        1025 non-null   int64
 3   status            1025 non-null   object
 4   species           1025 non-null   object
 5   type_number       1025 non-null   int64
 6   type_1            1025 non-null   object
 7   height_m          1025 non-null   float64
 8   weight_kg         1025 non-null   float64
 9   abilities_number  1025 non-null   int64
 10  ability_1         1025 non-null   object
 11  total_points      1025 non-null   int64
 12  hp                1025 non-null   int64
 13  attack            1025 non-null   int64
 14  defense           1025 non-null   int64
 15  sp_attack         1025 non-null   int64
 16  sp_defense        1025 non-null   int64
 17  speed             1025 non-null   int64
 18  catch_rate        1025 non-null   float64
 19  growth_rate       1025 non-null   object
 20  egg_type_number   1025 non-null   int64
 21  egg_type_1        1025 non-null   object
 22  egg_cycles        1025 non-null   float64
 23  against_normal    1025 non-null   float64
 24  against_fire      1025 non-null   float64
 25  against_water     1025 non-null   float64
 26  against_electric  1025 non-null   float64
 27  against_grass     1025 non-null   float64
 28  against_ice       1025 non-null   float64
 29  against_fight     1025 non-null   float64
 30  against_poison    1025 non-null   float64
 31  against_ground    1025 non-null   float64
 32  against_flying    1025 non-null   float64
 33  against_psychic   1025 non-null   float64
 34  against_bug       1025 non-null   float64
 35  against_rock      1025 non-null   float64
 36  against_ghost     1025 non-null   float64
 37  against_dragon    1025 non-null   float64
 38  against_dark      1025 non-null   float64
 39  against_steel     1025 non-null   float64
 40  against_fairy     1025 non-null   float64
dtypes: float64(22), int64(12), object(7)
memory usage: 336.3+ KB

In [23]:
poke_df.size

42025

In [24]:
.shape

(1025, 41)

In [25]:
poke_df

,pokedex_number,name,generation,status,species,type_number,type_1,height_m,weight_kg,abilities_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,Seed Pokémon,2,Grass,0.7,6.9,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,Seed Pokémon,2,Grass,1.0,13.0,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,Seed Pokémon,2,Grass,2.0,100.0,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,1,Normal,Seed Pokémon,2,Grass,2.4,155.5,1,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,Lizard Pokémon,1,Fire,0.6,8.5,2,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040,896,Glastrier,8,Sub Legendary,Wild Horse Pokémon,1,Ice,2.2,800.0,1,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
1041,897,Spectrier,8,Sub Legendary,Swift Horse Pokémon,1,Ghost,2.0,44.5,1,...,1.0,1.0,1.0,0.5,1.0,2.0,1.0,2.0,1.0,1.0
1042,898,Calyrex,8,Legendary,King Pokémon,2,Psychic,1.1,7.7,1,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0
1043,898,Calyrex Ice Rider,8,Legendary,High King Pokémon,2,Psychic,2.4,809.1,1,...,1.0,1.0,0.5,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1044,898,Calyrex Shadow Rider,8,Legendary,High King Pokémon,2,Psychic,2.4,53.6,1,...,1.0,1.0,0.5,1.0,1.0,4.0,1.0,4.0,1.0,1.0

## I think the dataframe is very clean and it looks good so im going to keep going to exploration

In [26]:
for column in poke_df.columns:
    print(column)
    print(poke_df[column].value_counts())
    print("-----------------")

pokedex_number
479    6
741    4
800    4
386    4
351    4
      ..
332    1
333    1
335    1
336    1
450    1
Name: pokedex_number, Length: 898, dtype: int64
-----------------
name
Bulbasaur               1
Bonsly                  1
Sawsbuck                1
Emolga                  1
Karrablast              1
                       ..
Nosepass                1
Skitty                  1
Delcatty                1
Sableye                 1
Calyrex Shadow Rider    1
Name: name, Length: 1025, dtype: int64
-----------------
generation
1    184
5    166
3    163
4    121
2    106
8    101
7     99
6     85
Name: generation, dtype: int64
-----------------
status
Normal           901
Sub Legendary     55
Legendary         39
Mythical          30
Name: status, dtype: int64
-----------------
species
Mouse Pokémon          11
Dragon Pokémon          9
Fox Pokémon             9
Pumpkin Pokémon         8
Flame Pokémon           7
                       ..
Ogre Darner Pokémon     1
Jubilee Pokémon         1
Blast Pokémon           1
Magnet Area Pokémon     1
Scorpion Pokémon        1
Name: species, Length: 650, dtype: int64
-----------------
type_number
2    543
1    482
Name: type_number, dtype: int64
-----------------
type_1
Water       134
Normal      114
Grass        91
Bug          81
Psychic      78
Fire         65
Electric     60
Rock         60
Dark         44
Dragon       41
Ghost        41
Fighting     40
Poison       39
Ground       39
Steel        35
Ice          34
Fairy        21
Flying        8
Name: type_1, dtype: int64
-----------------
height_m
0.6     86
0.3     77
0.4     73
1.0     69
0.5     69
1.2     59
0.8     51
1.5     50
0.7     49
1.1     44
1.4     38
1.3     37
0.9     36
1.6     35
1.7     33
1.8     29
2.0     27
0.2     24
1.9     21
2.1     13
2.2     12
2.5     11
3.0      8
2.3      7
2.4      6
0.1      6
3.8      4
2.7      3
6.5      3
2.8      3
4.5      3
4.2      2
3.2      2
2.9      2
3.6      2
5.0      2
5.5      2
9.2      2
4.0      2
3.5      2
3.3      2
5.8      1
8.2      1
3.9      1
3.4      1
7.5      1
2.6      1
10.5     1
6.9      1
3.7      1
5.4      1
10.8     1
7.0      1
9.8      1
6.2      1
14.5     1
5.2      1
10.9     1
8.8      1
20.0     1
Name: height_m, dtype: int64
-----------------
weight_kg
0.3      14
1.0      12
28.0     11
5.0      11
40.0     10
         ..
52.6      1
102.5     1
57.0      1
149.5     1
53.6      1
Name: weight_kg, Length: 472, dtype: int64
-----------------
abilities_number
3    507
2    294
1    224
Name: abilities_number, dtype: int64
-----------------
ability_1
Levitate           40
Swift Swim         30
Keen Eye           28
Pressure           25
Chlorophyll        25
                   ..
Filter              1
Battery             1
Minus               1
Power Construct     1
Delta Stream        1
Name: ability_1, Length: 210, dtype: int64
-----------------
total_points
600    46
500    30
580    30
490    26
405    26
       ..
334     1
244     1
224     1
523     1
690     1
Name: total_points, Length: 215, dtype: int64
-----------------
hp
60     82
70     76
50     73
75     58
65     55
       ..
144     1
116     1
170     1
99      1
200     1
Name: hp, Length: 103, dtype: int64
-----------------
attack
100    53
65     50
80     46
85     45
60     43
       ..
106     1
88      1
27      1
108     1
118     1
Name: attack, Length: 123, dtype: int64
-----------------
defense
70     67
50     63
60     60
80     53
90     51
       ..
111     1
126     1
59      1
99      1
143     1
Name: defense, Length: 113, dtype: int64
-----------------
sp_attack
40     67
60     60
50     53
65     52
55     50
       ..
88      1
108     1
116     1
132     1
136     1
Name: sp_attack, Length: 119, dtype: int64
-----------------
sp_defense
50     67
80     60
70     60
60     56
55     52
       ..
32      1
126     1
99      1
129     1
145     1
Name: sp_defense, Length: 105, dtype: int64
-----------------
speed
50     56
60     53
30     47
70     47
65     46
       ..
87      1
160     1
113     1
140     1
200     1
Name: speed, Length: 126, dtype: int64
-----------------
catch_rate
45.0     338
3.0       99
255.0     87
190.0     83
75.0      75
120.0     66
60.0      63
90.0      47
30.0      27
200.0     20
225.0     15
25.0      14
180.0     13
50.0       9
150.0      8
235.0      8
127.0      8
100.0      7
140.0      6
70.0       5
55.0       3
125.0      3
65.0       3
170.0      2
5.0        2
130.0      2
220.0      2
80.0       2
10.0       2
205.0      1
155.0      1
145.0      1
15.0       1
160.0      1
35.0       1
Name: catch_rate, dtype: int64
-----------------
growth_rate
Medium Fast    422
Slow           253
Medium Slow    243
Fast            67
Erratic         26
Fluctuating     14
Name: growth_rate, dtype: int64
-----------------
egg_type_number
1    745
2    280
Name: egg_type_number, dtype: int64
-----------------
egg_type_1
Field           250
Undiscovered    149
Bug              90
Amorphous        81
Dragon           67
Fairy            61
Mineral          59
Flying           58
Grass            51
Human-Like       44
Monster          43
Water 1          35
Water 2          20
Water 3          16
Ditto             1
Name: egg_type_1, dtype: int64
-----------------
egg_cycles
20.0     537
15.0     167
120.0     98
25.0      81
40.0      52
30.0      27
10.0      24
35.0      19
80.0      17
5.0        3
Name: egg_cycles, dtype: int64
-----------------
against_normal
1.00    826
0.50    126
0.00     66
0.25      7
Name: against_normal, dtype: int64
-----------------
against_fire
1.00    431
0.50    293
2.00    237
0.25     26
4.00     23
0.00     11
1.50      2
1.25      2
Name: against_fire, dtype: int64
-----------------
against_water
1.00    545
0.50    274
2.00    165
0.00     16
4.00     14
0.25     10
3.00      1
Name: against_water, dtype: int64
-----------------
against_electric
1.00    508
2.00    212
0.50    195
0.00     93
4.00      8
0.25      7
1.50      2
Name: against_electric, dtype: int64
-----------------
against_grass
1.00    384
0.50    332
2.00    167
0.25    106
4.00     28
0.00      6
3.00      2
Name: against_grass, dtype: int64
-----------------
against_ice
1.00      442
0.50      275
2.00      259
4.00       33
0.25       11
125.00      4
0.00        1
Name: against_ice, dtype: int64
-----------------
against_fight
1.00    409
0.50    240
2.00    234
0.00     66
0.25     53
4.00     20
1.50      3
Name: against_fight, dtype: int64
-----------------
against_poison
1.00    600
0.50    203
2.00    126
0.00     70
0.25     21
4.00      5
Name: against_poison, dtype: int64
-----------------
against_ground
1.00    483
2.00    227
0.00    160
0.50    120
4.00     24
0.25      6
1.50      5
Name: against_ground, dtype: int64
-----------------
against_flying
1.00    610
2.00    228
0.50    160
0.25     14
4.00     13
Name: against_flying, dtype: int64
-----------------
against_psychic
1.00    668
0.50    151
2.00    124
0.00     71
0.25      9
4.00      2
Name: against_psychic, dtype: int64
-----------------
against_bug
1.00    464
0.50    321
2.00    171
0.25     56
4.00     11
0.00      1
1.50      1
Name: against_bug, dtype: int64
-----------------
against_rock
1.00    581
2.00    245
0.50    161
4.00     29
0.25      9
Name: against_rock, dtype: int64
-----------------
against_ghost
1.0    673
2.0    162
0.0    123
0.5     61
4.0      3
1.5      2
3.0      1
Name: against_ghost, dtype: int64
-----------------
against_dragon
1.0    834
2.0     69
0.5     62
0.0     60
Name: against_dragon, dtype: int64
-----------------
against_dark
1.00    696
0.50    165
2.00    151
0.25      7
4.00      3
1.50      2
3.00      1
Name: against_dark, dtype: int64
-----------------
against_steel
1.00    570
0.50    309
2.00    129
0.25     11
4.00      5
0.00      1
Name: against_steel, dtype: int64
-----------------
against_fairy
1.00    658
0.50    191
2.00    162
4.00     10
0.25      3
0.00      1
Name: against_fairy, dtype: int64
-----------------

In [28]:
#goint to. creat to a joson file rather than a csv

poke_df.to_json("pokemon.json")